body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}





.google-container {
    text-align: center;
}

.google-container img {
    margin-bottom: 20px;

}
.google-container input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.google-container button {
    padding: 10px 20px;
    background-color: #4285F4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

.google-container button:hover {
    background-color: #357AE8;
}
.footer {
    text-align: center;
    background-color: #f1f1f1;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}